body {
    
}

section {
    margin: auto;
    width: 50%;
    text-align: center;


}

.contentNameCourse {
    margin-left: 15px;
    border-top: solid;
    border-bottom: 0px solid;
    padding: 5px;
    width: 100%;
    border-color: lavender;
}





.inputField {
    /* margin-bottom: 15px; */
    border-color: white;
    width: 98%;
    height: 25px;
    border: 1px solid #e3ecf0;
    background: #fff;
    padding: 5px;
    clear: both;
   
}
h4{
    margin-bottom: 0px;
}

textarea{
width: 100%;
}
#range_weight{
    width: 86%;
}

