body{
          margin-left: 20%;
      }
    .Container{
        /*background-color: rosybrown;*/
        width: 80%;
        margin-left: 2%;
    background-color:lightgrey;
    }
    h2{
        text-align: center;
        /*margin-top: 20px;*/
        padding: 20px;

    }
    input{
     width: 50%;
    height: 40px;
    margin-bottom: 12px;
    margin-left: 2%;
    margin-top: 20px;
    outline: none;
    border-style: none;
    height: 25px;
    font-size: 14px;
    padding: 10px;
    }
    .savebtn{
     background-color:#0793C8;
     height: 38px;
     width:155px;
     border-color: #0793C8;
     border-radius: 10px;
     outline: none;
     font-size: 16px;
 }
 .Canclebtn{
     font-size: 16px;
     height: 38px;
     width:155px;
     border-radius: 10px;
     outline: none;
 }
 .btn{
    margin-top: 90px;
    padding: 50px;

}
label{
    margin-left:15px;
}
#NewPassword{
    margin-left: 38px;
}
#OldPassword{
    margin-left: 42px;

}